<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Minet Kenya Retail">
    <meta property="og:url" content="https://retail.minet.co.ke/">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Minet Kenya Retail">
    <meta property="og:type" content="website">

    <title>Retail - Minet Kenya</title>
    <meta name="keywords"
        content="Minet, insurance, brokers, solutions, individual, SME, corporate, teacher, medical, scheme">
    <meta name="description"
        content="Minet is a leading insurance broker in Kenya that offers solutions for individuals, SMEs, corporates, and teachers. Minet provides medical schemes, life insurance, general insurance, and risk management services.">
    <meta name="theme-color" content="#e32636">

    <!-- Favicons -->
    <link rel="icon" href="static/img/favicons/favicon.png" />
    <link rel="apple-touch-icon" href="static/img/favicons/apple-touch-icon.png" />
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="static/vendor/bootstrap-icons@1.11.1/bootstrap-icons.min.css">
    <link rel="stylesheet" href="static/vendor/bootstrap@5.3.2/bootstrap.min.css">
    <link rel="stylesheet" href="static/vendor/aos@2.3.4/aos.css">
    <!-- Vendor JS -->
    <script src="static/vendor/bootstrap@5.3.2/bootstrap.bundle.min.js" defer></script>
    <script src="static/vendor/aos@2.3.4/aos.js" defer></script>
    <script src="static/vendor/htmx@1.9.7/htmx.min.js" defer></script>
    <!-- Template CSS -->
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/index.css">
    <!-- Template JS -->
    <script src="static/js/main.js" defer></script>
    <script src="static/js/index.js" defer></script>
</head>

<body class="h-100">
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="d-flex flex-column align-items-center pt-4" data-aos="slide-right">
        <div class="page-profile py-2">
            <div class="d-flex justify-content-center align-items-center">
                <div class="page-profile-logo flex-shrink-1">
                    <img src="static/img/home/main/sidebar-profile.png" alt="" class="img-fluid">
                </div>
                <h1 class="pt-2 ms-3 text-uppercase">Home</h1>
            </div>
            <hr />
            <h2 class="text-center">Welcome to Minet Insurance Brokers Solutions</h2>
        </div>
        <nav class="nav-menu navbar flex-grow-1 py-5">
            <ul class="h-100 d-flex flex-column">
                <li class="flex-grow-1">
                    <a href="login.html" class="nav-link">
                        <i class="bi bi-box-arrow-in-right"></i> <span class="rounded ms-1 py-2 px-3">Login</span>
                    </a>
                </li>
                <li class="flex-grow-1">
                    <a href="index.html" class="nav-link active">
                        <i class="bi bi-house"></i> <span class="rounded ms-1 py-2 px-3">Home</span>
                    </a>
                </li>
                <li class="flex-grow-1">
                    <a href="" class="nav-link">
                        <i class="bi bi-cart4"></i> <span class="rounded ms-1 py-2 px-3">Cart</span>
                    </a>
                </li>
                <li class="flex-grow-1">
                    <a href="" class="nav-link">
                        <i class="bi bi-shield-lock"></i> <span class="rounded ms-1 py-2 px-3">Privacy
                            Policy</span>
                    </a>
                </li>
                <li class="flex-grow-1">
                    <a href="https://www.minet.com/kenya/about-minet/" target="_blank" class="nav-link">
                        <i class="bi bi-info-circle"></i> <span class="rounded ms-1 py-2 px-3">About
                            Us</span>
                    </a>
                </li>
                <li class="flex-grow-1">
                    <a href="" class="nav-link">
                        <i class="bi bi-globe"></i> <span class="rounded ms-1 py-2 px-3">Our Website</span>
                    </a>
                </li>
                <li class="flex-grow-1">
                    <a href="" class="nav-link">
                        <i class="bi bi-file-earmark-person"></i> <span class="rounded ms-1 py-2 px-3">Media
                            /
                            Contacts</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="social-links mt-auto pb-4 d-flex justify-content-center align-items-center">
            <a href="#" class="d-inline-flex justify-content-center align-items-center"><i
                    class="bi bi-twitter-x"></i></a>
            <a href="#" class="d-inline-flex justify-content-center align-items-center"><i
                    class="bi bi-facebook"></i></a>
            <a href="#" class="d-inline-flex justify-content-center align-items-center"><i
                    class="bi bi-instagram"></i></a>
            <a href="#" class="d-inline-flex justify-content-center align-items-center"><i
                    class="bi bi-whatsapp"></i></a>
            <a href="#" class="d-inline-flex justify-content-center align-items-center"><i
                    class="bi bi-linkedin"></i></a>
        </div>
    </aside>

    <main id="main" class="h-100 position-relative d-flex flex-column">
        <!-- ======= Topbar ======= -->
        <section id="topbar" class="container-fluid py-2" data-aos="fade-in">
            <div class="row">
                <div class="col d-none d-sm-flex align-items-center">
                    <img src="static/img/logo/endorsement-logo-white-300x27.png" class="img-fluid"
                        style="max-width: 250px;">
                </div>
                <form class="col search-form d-flex justify-content-end align-items-center h-100" action="">
                    <div class="input-group">
                        <input type="text" class="form-control h-100" placeholder="Search...">
                        <button type="submit"
                            class="input-group-text h-100 d-flex justify-content-center align-items-center"><i
                                class="bi bi-search"></i></button>
                    </div>
                </form>

            </div>
        </section>
        <!-- ======= Header ======= -->
        <header id="header" class="container-fluid py-2" data-aos="slide-right">
            <div class="row">
                <div class="col">
                    <a href="http://www.minet.com/kenya/" target="_blank" class="d-block h-100 mt-1">
                        <img src="static/img/logo/logo-white-300x78.png" alt="" class="img-fluid">
                    </a>
                </div>

                <div class="col d-flex justify-content-end align-items-center ">
                    <span class="text-white d-none d-md-inline-block text-uppercase">Risk. Reinsurance.
                        People</span>
                    <i class="mobile-nav-toggle bi bi-list ms-4 d-xl-none"></i>
                </div>
            </div>
        </header>
        <!-- ======= Content ======= -->
        <section id="content"
            class="flex-grow-1 container-fluid p-5 text-center d-flex justify-content-center align-items-center">
            <div class="row g-4 w-100">
                <div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-delay="200">
                    <a id="individual-solutions-link"
                        class="solutions-img h-100 position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                        hx-get="templates/individual-solutions.html" hx-trigger="click" hx-target="#content"
                        hx-swap="innerHTML">
                        <div id="individual-solutions"></div>
                        <div>Individual Solutions</div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-delay="400">
                    <a class="solutions-img h-100 position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                        href="https://retail.minet.co.ke/biznasure/" target="_blank">
                        <div id="business-solutions" class="flex-fill-0"></div>
                        <div>Business Solutions</div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-delay="600">
                    <a id="corporate-product-link"
                        class="solutions-img h-100 position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                        hx-get="templates/individual-solutions.html" hx-trigger="click" hx-target="#content"
                        hx-swap="innerHTML">
                        <div id="corporate-product"></div>
                        <div>Corporate Product</div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-delay="800">
                    <a class="solutions-img h-100 position-relative d-flex flex-column justify-content-center align-items-center rounded shadow"
                        href="https://collaborationkenya.minet.com/MinetKe/tsc" target="_blank">
                        <div id="teachers-medical-scheme-portal"></div>
                        <div>Teacher's Medical Scheme Portal</div>
                    </a>
                </div>
            </div>
        </section>
        <!-- ======= Footer ======= -->
        <footer id="footer" class=" mt-auto pb-4 container-fluid">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <small class="fst-italic">© Minet Service Portal 2023</small>
                </div>
            </div>
        </footer>
    </main>

    <!-- Scroll Top Button -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <!-- Preloader -->
    <div id="preloader"></div>
</body>



</html>